<?xml version="1.0"?>
<robot name="LGDXRobot2" xmlns:xacro="http://ros.org/wiki/xacro">
  <webots>
    <plugin type="LgdxRobot2::LgdxRobot2Driver" />
    <plugin type="webots_ros2_driver::Ros2IMU">
      <topicName>/imu/data</topicName>
      <updateRate>30</updateRate>
      <alwaysOn>True</alwaysOn>
      <inertialUnitName>inertial_unit</inertialUnitName>
      <gyroName>gyro</gyroName>
      <accelerometerName>accelerometer</accelerometerName>
    </plugin>
    <device reference="camera_rgb" type="Camera">
      <ros>
        <topicName>/camera/color</topicName>
        <enabled>true</enabled>
        <alwaysOn>false</alwaysOn>
      </ros>
    </device>
    <device reference="camera_depth" type="RangeFinder">
      <ros>
        <topicName>/camera/depth</topicName>
        <enabled>true</enabled>
        <alwaysOn>false</alwaysOn>
      </ros>
    </device>
    <device reference="lidar_link" type="Lidar">
      <ros>
        <topicName>/scan</topicName>
        <updateRate>15</updateRate>
        <enabled>true</enabled>
        <alwaysOn>true</alwaysOn>
      </ros>
    </device>
  </webots>
</robot>
