<?xml version="1.0"?>
<robot name="LGDXRobot2" xmlns:xacro="http://ros.org/wiki/xacro">
  <webots>
    <plugin type="LgdxRobot2::LgdxRobot2Driver" />
    <device reference="camera rgb" type="Camera">
      <ros>
        <topicName>/camera/color</topicName>
        <enabled>true</enabled>
        <alwaysOn>true</alwaysOn>
      </ros>
    </device>
    <device reference="camera depth" type="RangeFinder">
      <ros>
        <topicName>/camera/depth</topicName>
        <enabled>true</enabled>
        <alwaysOn>true</alwaysOn>
      </ros>
    </device>
    <device reference="lidar" type="Lidar">
      <ros>
        <topicName>/scan</topicName>
        <enabled>true</enabled>
        <alwaysOn>true</alwaysOn>
      </ros>
    </device>
  </webots>
</robot>
