[submodule "third_party/hwinfo"]
	path = third_party/hwinfo
	url = https://github.com/lfreist/hwinfo.git
[submodule "third_party/m-explore-ros2"]
	path = third_party/m-explore-ros2
	url = git@github.com:yukaitung/multiAgent-explore-ros2.git
