# Variables Needed
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

stages:
  - prepare
  - build

#
# Parepare variables
#

prepare:
  stage: prepare
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: alpine:latest
  script:
    - apk add libxml2-utils
    - echo "APP_VERSION=$(xmllint --xpath "//package/version/text()" lgdxrobot2_agent/package.xml)" >> variables.env
  artifacts:
    reports:
      dotenv: variables.env
    expire_in: 1 day

#
# Build LGDXRobot2 ROS 2
#

build-amd64:
  stage: build
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  before_script:
    - apk add curl
    - apk add zip
  variables:
    ARCH: amd64
  script:
    - git submodule update --init --recursive
    - docker build -f Docker/Scripts/build/Dockerfile -o . .
    - zip -r lgdxrobot2-ros2-$ARCH.zip debs/*
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file lgdxrobot2-ros2-$ARCH.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ROS2/latest/lgdxrobot2-ros2-$ARCH.zip"

build-arm64:
  stage: build
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-arm64
  services:
    - docker:24.0.5-dind
  before_script:
    - apk add curl
    - apk add zip
  variables:
    ARCH: arm64
  script:
    - git submodule update --init --recursive
    - docker build -f Docker/Scripts/build/Dockerfile -o . .
    - zip -r lgdxrobot2-ros2-$ARCH.zip debs/*
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file lgdxrobot2-ros2-$ARCH.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ROS2/latest/lgdxrobot2-ros2-$ARCH.zip"

