stages:
  - build

build:
  stage: build
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  script:
    - git submodule update --recursive --remote
    - docker build -f Dockerfile -o . .
  artifacts:
    paths:
      - debs

