stages:
  - prepare
  - build
  - release
  - auto_merge

#
# Parepare variables
#

prepare:
  stage: prepare
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH # Only in main branch
  image: alpine:latest
  script:
    - apk add libxml2-utils
    - echo "APP_VERSION=$(xmllint --xpath "//package/version/text()" lgdxrobot2_agent/package.xml)" >> variables.env
  artifacts:
    reports:
      dotenv: variables.env
    expire_in: 1 day

#
# Build LGDXRobot2 ROS 2
#

build-amd64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $CI_COMMIT_BRANCH !~ /\// && $CI_COMMIT_BRANCH !~ /cherry-pick/  
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: amd64
  before_script:
    - apk add zip
  script:
    - docker build -f Dockerfile -o . .
    - cd debs
    - zip -r lgdxrobot2-ros2-$ARCH.zip *
  artifacts:
    paths:
      - debs/lgdxrobot2-ros2-$ARCH.zip
    expire_in: 1 day

build-arm64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $CI_COMMIT_BRANCH !~ /\// && $CI_COMMIT_BRANCH !~ /cherry-pick/
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-arm64
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    ARCH: arm64
  services:
    - name: docker:24.0.5-dind
      command: ["--mtu=1400"]
  before_script:
    - apk add zip
  script:
    - docker build -f Dockerfile -o . .
    - cd debs
    - zip -r lgdxrobot2-ros2-$ARCH.zip *
  artifacts:
    paths:
      - debs/lgdxrobot2-ros2-$ARCH.zip
    expire_in: 1 day

#
# Release
#

upload:
  stage: release
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == "jazzy" # Only in jazzy 
  needs:
    - job: build-amd64
      artifacts: true
    - job: build-arm64
      artifacts: true
  before_script:
    - apk add curl
  script:
    - cd debs
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file lgdxrobot2-ros2-amd64.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ROS2/$CI_COMMIT_BRANCH/lgdxrobot2-ros2-amd64.zip"
    - |
      curl --location --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file lgdxrobot2-ros2-arm64.zip \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/LGDXRobot2-ROS2/$CI_COMMIT_BRANCH/lgdxrobot2-ros2-arm64.zip"

release:
  stage: release
  image: alpine:latest
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: prepare
      artifacts: true
  script:
    - apk add glab
  release:
    name : '$APP_VERSION'
    tag_name: '$APP_VERSION'
    description: '$APP_VERSION'
    ref: '$CI_COMMIT_SHA'

auto_merge:
  image: alpine:latest
  stage: auto_merge
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH  # Only in main branch
  before_script:
    - apk add curl
    - apk add jq
  script:
    - |
      MR_URL=$(curl --header "PRIVATE-TOKEN: ${GITLAB_ACCESS_TOKEN}" \
       "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/repository/commits/${CI_COMMIT_SHA}/merge_requests" | jq -r '.[0].web_url')
      MR_IID=$(curl --header "PRIVATE-TOKEN: ${GITLAB_ACCESS_TOKEN}" \
       "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/repository/commits/${CI_COMMIT_SHA}/merge_requests" | jq -r '.[0].iid')
    - |
      for DISTRO in jazzy; do
        echo "Creating merge request for ${DISTRO}"
        BRANCH_NAME=cherry-pick-${DISTRO}-${CI_COMMIT_SHA}
        curl --request POST \
           --header "PRIVATE-TOKEN: ${GITLAB_ACCESS_TOKEN}" \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/repository/branches?branch=${BRANCH_NAME}&ref=${DISTRO}"
        STATUS=$(curl --request POST \
           --header "PRIVATE-TOKEN: ${GITLAB_ACCESS_TOKEN}" \
           --form "branch=${BRANCH_NAME}" \
           --silent --output /dev/null --write-out "%{http_code}" \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/repository/commits/${CI_COMMIT_SHA}/cherry_pick")
        if [ "$STATUS" -eq 201 ]; then
          echo "Cherry-pick succeeded, creating merge request"
          curl --request POST \
           --header "PRIVATE-TOKEN: ${GITLAB_ACCESS_TOKEN}" \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/merge_requests?source_branch=${BRANCH_NAME}&target_branch=${DISTRO}&title=Merge%20${CI_COMMIT_SHA}%20into%20${DISTRO}%20(MR%20${MR_IID})&description=Based%20on%20${MR_URL}" 
        else
          echo "Cherry-pick failed, deleting branch"
          curl --request DELETE \
           --header "PRIVATE-TOKEN: ${GITLAB_ACCESS_TOKEN}" \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/repository/branches/${BRANCH_NAME}"
          curl --request POST \
           --header "PRIVATE-TOKEN: ${GITLAB_ACCESS_TOKEN}" \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/issues?title=Cannot%20cherry-pick%20${CI_COMMIT_SHA}%20into%20${DISTRO}%20(MR%20${MR_IID})&labels=cicd&description=Based%20on%20${MR_URL}"
        fi
      done
