# LGDXRobot2 ROS2 GitLab CI/CD
# Variables Needed
# $EXT_REGISTRY: Registry URL (e.g. docker.io)
# $EXT_USER: Username for the registry
# $EXT_PAT: PAT for the registry (https://docs.docker.com/security/for-developers/access-tokens/)

variables:
  SUPPORT_CORE_IMAGE_NAME: "lgdxrobot2-support-core"
  SUPPORT_DESKTOP_IMAGE_NAME: "lgdxrobot2-support-desktop"
  CORE_IMAGE_NAME: "lgdxrobot2-core"
  DESKTOP_IMAGE_NAME: "lgdxrobot2-desktop"

stages:
  - prepare
  - build-support
  - build
  - release

#
# Prepare variables
#

prepare:
  stage: prepare
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: alpine:latest
  script:
    - apk add libxml2-utils
    - echo "APP_VERSION=$(xmllint --xpath "//package/version/text()" lgdxrobot2/package.xml)" >> variables.env
  artifacts:
    reports:
      dotenv: variables.env
    expire_in: 1 day

#
# Build support images (Optional)
#

build-support-core-amd64:
  stage: build-support
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: amd64
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Core Support Image
    - docker build -f Docker/Scripts/Support-Core/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$SUPPORT_CORE_IMAGE_NAME:$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$SUPPORT_CORE_IMAGE_NAME:$ARCH

build-support-core-arm64:
  stage: build-support
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-arm64 
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    ARCH: arm64
  services:
    - name: docker:24.0.5-dind
      command: ["--mtu=1400"]
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Core Support Image
    - docker build -f Docker/Scripts/Support-Core/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$SUPPORT_CORE_IMAGE_NAME:$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$SUPPORT_CORE_IMAGE_NAME:$ARCH

build-support-desktop-amd64:
  stage: build-support
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: amd64
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Desktop Support Image
    - docker build -f Docker/Scripts/Support-Desktop/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$SUPPORT_DESKTOP_IMAGE_NAME:$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$SUPPORT_DESKTOP_IMAGE_NAME:$ARCH

build-support-desktop-arm64:
  stage: build-support
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  when: manual
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-arm64 
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    ARCH: arm64
  services:
    - name: docker:24.0.5-dind
      command: ["--mtu=1400"]
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Desktop Support Image
    - docker build -f Docker/Scripts/Support-Desktop/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$SUPPORT_DESKTOP_IMAGE_NAME:$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$SUPPORT_DESKTOP_IMAGE_NAME:$ARCH

#
# Build the final images
#

build-core-amd64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: amd64
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Core
    - docker build -f Docker/Scripts/Core/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$CORE_IMAGE_NAME:dev-$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$CORE_IMAGE_NAME:dev-$ARCH
    
build-core-arm64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-arm64 
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    ARCH: amd64
  services:
    - name: docker:24.0.5-dind
      command: ["--mtu=1400"]
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Core
    - docker build -f Docker/Scripts/Core/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$CORE_IMAGE_NAME:dev-$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$CORE_IMAGE_NAME:dev-$ARCH

build-desktop-amd64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-amd64
  services:
    - docker:24.0.5-dind
  variables:
    ARCH: amd64
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Desktop
    - docker build -f Docker/Scripts/Desktop/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$DESKTOP_IMAGE_NAME:dev-$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$DESKTOP_IMAGE_NAME:dev-$ARCH
    
build-desktop-arm64:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: docker:24.0.5-git
  tags:
    - saas-linux-small-arm64 
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    ARCH: amd64
  services:
    - name: docker:24.0.5-dind
      command: ["--mtu=1400"]
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Desktop
    - docker build -f Docker/Scripts/Desktop/Dockerfile.$ARCH -t $EXT_REGISTRY/$EXT_USER/$DESKTOP_IMAGE_NAME:dev-$ARCH .
    - docker push $EXT_REGISTRY/$EXT_USER/$DESKTOP_IMAGE_NAME:dev-$ARCH

#
# Release
#
    
release_job:
  stage: release
  image: docker:24.0.5-git
  rules:
    - if: $CI_COMMIT_TAG
      when: never 
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: prepare
      artifacts: true
    - job: build-core-arm64
      artifacts: false
    - job: build-core-amd64
      artifacts: false
    - job: build-desktop-arm64
      artifacts: false
    - job: build-desktop-amd64
      artifacts: false
  services:
    - docker:24.0.5-dind
  before_script:
    - apk add glab
    - apk add gitlab-release-cli    
  script:
    - echo -n $EXT_PAT | docker login -u $EXT_USER --password-stdin $EXT_REGISTRY
    # Core
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$CORE_IMAGE_NAME:latest --amend $EXT_USER/$CORE_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$CORE_IMAGE_NAME:dev-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$CORE_IMAGE_NAME:$APP_VERSION --amend $EXT_USER/$CORE_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$CORE_IMAGE_NAME:dev-arm64
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$CORE_IMAGE_NAME:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$CORE_IMAGE_NAME:$APP_VERSION
    # Desktop
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$DESKTOP_IMAGE_NAME:latest --amend $EXT_USER/$DESKTOP_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$DESKTOP_IMAGE_NAME:dev-arm64
    - docker manifest create $EXT_REGISTRY/$EXT_USER/$DESKTOP_IMAGE_NAME:$APP_VERSION --amend $EXT_USER/$DESKTOP_IMAGE_NAME:dev-amd64 --amend $EXT_USER/$DESKTOP_IMAGE_NAME:dev-arm64
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$DESKTOP_IMAGE_NAME:latest
    - docker manifest push $EXT_REGISTRY/$EXT_USER/$DESKTOP_IMAGE_NAME:$APP_VERSION
  release:
    name : 'Release $APP_VERSION'
    tag_name: '$APP_VERSION'
    description: '$APP_VERSION'
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'Docker Images for LGDXRobot2 Core'
          url: 'https://hub.docker.com/v2/repositories/yukaitung/$CORE_IMAGE_NAME/tags/$APP_VERSION'
        - name: 'Docker Images for LGDXRobot2 Desktop'
          url: 'https://hub.docker.com/v2/repositories/yukaitung/$DESKTOP_IMAGE_NAME/tags/$APP_VERSION'
